#timepoint-params
{
	display: none;
}

#widget
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 356px;
	background-color: #C0C0C0;
	z-index: 1;
}

#widget-embedded
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 356px;
	background-color: #C0C0C0;
	z-index: 1;
}

#widget div
{
	 margin: 0px;	
}

#widget-caption
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 288px;
	background-color: #CCDDFF;
	border: 2px #A1A0FF solid;
	padding: 4px;
}

#widget-caption h3
{
	color:navy;
	text-align:center;
	margin: 4px;
}

#ziffern-block
{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 60px;
	left: 10px;
	width: 300px;
	height: 215px;
	background-color: #CCDDFF;
}
	
table
{
	background-color: #CCDDFF;
	font-family: Times New Roman;
	font-size: 24px;
	color: #000080;
}	
tr
{ 		 
}
td
{
	border-style: outset;
	border-width: medium;
	border-color: white;
	width: 80px;
	height: 30px;
	cursor: pointer;
	background-color: #DDCCBB;
}
#bib
{
	background-color: #DDDDBB;
}
#clear-bib
{
	background-color: #DDDDBB;
}
#record
{
	background-color: #DDDDBB;
}

#response-text
{
	position: absolute;
	top: 285px;
	left: 10px;
	width: 292px;
	overflow: hidden;
	background-color: #CCDDFF;
	padding: 4px;
}

#button-panel
{
	position: absolute;
	top: 320px;
	left: 10px;
}
	
